*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}



body{

background:#eef6ff;

padding:20px;

}




header{

background:#0A66C2;

padding:25px;

text-align:center;

color:white;

border-radius:10px;

}



.container{

display:flex;

gap:30px;

margin-top:30px;

flex-wrap:wrap;

}



.form-card{

background:white;

padding:30px;

width:350px;

border-radius:15px;

box-shadow:0 0 10px rgba(0,0,0,0.1);

}



.form-card h2{

margin-bottom:20px;

color:#0A66C2;

}



input{

width:100%;

padding:12px;

margin-top:10px;

border:1px solid #ccc;

border-radius:8px;

}



button{


width:100%;

padding:12px;

margin-top:20px;

border:none;

background:#0A66C2;

color:white;

font-size:16px;

cursor:pointer;

border-radius:8px;

}


button:hover{

background:#004a99;

}




.stats{

display:flex;

gap:20px;

flex-wrap:wrap;

}




.card{


width:200px;

background:white;

padding:25px;

text-align:center;

border-radius:15px;

box-shadow:0 0 10px rgba(0,0,0,0.1);

}



.card h1{

color:#0A66C2;

}




section{

margin-top:40px;

}



section h2{

margin-bottom:20px;

color:#0A66C2;

}



table{

width:100%;

background:white;

border-collapse:collapse;

box-shadow:0 0 10px rgba(0,0,0,0.1);

}



th{

background:#0A66C2;

color:white;

padding:15px;

}



td{

padding:15px;

text-align:center;

border-bottom:1px solid #ddd;

}



tr:hover{

background:#f3f8ff;

}



.valid{

color:green;

font-weight:bold;

}



.reject{

color:red;

font-weight:bold;

}



@media(max-width:768px){


.container{

flex-direction:column;

}


}